[nextgems_cat]
root_path = "test_intake.json"
solr_server = ["foo"]
drs_format = "nextgems"
fs_type = "intake"

[nextgems_cycle3]
root_path = "data/intake/work/bm1235"
drs_format = "nextgems_cycle3"
solr_server = ["foo"]
fs_type = "posix"
[nextgems_cycle3.defaults]
project = "nextgems"
simulation_id = "cycle3"

[drs_settings.dialect.nextgems_cycle3]
inherits_from = "nextgems"
[drs_settings.dialect.nextgems_cycle3.data_specs.var_attrs]
variable_id = { var="*", attr="short_name", default="__name__" }


[fool]
# Definition of some not working datasets.
root_path = "/foo/bar"
inherits_from = "nextgems-s3"

[catalogue_intake_local]
root_path = "./data/intake/catalog/catalog.yaml"
drs_format = "nextgems"
fs_type = "intake"
[catalogue_intake_local.defaults]
time_min = "1970-01-01T00:00:00"
time_max = "2024-01-01T00:00:00"
project = "nextgems"
experiment_id = "historical"
institution_id = "MPI-M"
source_id = "no_source_id"
simulation_id = "no_simulation_id"
frequency = "mon"
realm = "atmos"
grid_id = "gn"
grid_label = "gn"
bbox = [-10,30,30,60]

[drs_settings.dialect.obs-fs.path_specs]
dir_parts = [
    "product", "institute", "instrument", "experiment", "time_frequency",
    "realm", "cmor_table", "ensemble", "version", "variable",
]
file_parts = [
    "variable", "time_frequency", "instrument", "experiment", "ensemble", "time"
]
[obs-fs]
root_path = "./data/observations"
drs_format = "obs-fs"
[obs-fs.defaults]
project = "observations"
bbox = [0, 360, -60, 60]
level_type = "2d"
model = "sat"

[drs_settings.dialect.obs-fs-missing.path_specs]
dir_parts = [
    "experiment", "time_frequency",
    "realm", "cmor_table", "ensemble", "version", "variable",
]
file_parts = [
    "instrument", "experiment", "ensemble", "time"
]
[obs-fs-missing]
root_path = "./data/observations"
drs_format = "obs-fs-missing"
[obs-fs-missing.defaults]
project = "observations"
bbox = [0, 360, -60, 60]
level_type = "2d"
model = "sat"

#[foo]
#root_path = "./data/observations"
#drs_format = "foo"
#[foo.defaults]
#project = "observations"
#[drs_settings.dialect.foo]
#sources    = ["data"]
#[drs_settings.dialect.foo.data_specs.read_kws]
#engine = "h5netcdf"
#[drs_settings.dialect.foo.data_specs.globals]
#institute = "institution_id"
#experiment = "experiment_id"
#ensemble = "ensemble"
#project = "project_id"
#resolution = "nominal_resolution"
#grid_label = "grid_label"
#vars = "__variable__"
#[drs_settings.dialect.foo.data_specs.var_attrs]
#variable = { var="{vars}", attr="long_name", default="__name__" }

[cmip6-fs]
root_path = "./data/model/global/cmip6"
drs_format = "cmip6"

[cordex-fs]
root_path = "./data/model/regional"
drs_format = "cordex"
[cordex-fs.defaults]
domain = "EUR-11"
time_frequency = "mon"

[cordex-benchmark-fs]
root_path = "./data/cordex-tree/cordex_fake/"
drs_format = "cordex"

[cordex-benchmark-template]
root_path = "./data/cordex-tree/"
drs_format = "cordex-template"
[drs_settings.dialect.cordex-template]
sources = ["path"]
defaults = { realm = "atmos" , level_type = "2d" }
# CORDEX‐specific domain‐to‐bbox map
[drs_settings.dialect.cordex-template.domains]
EAS-44   = [63.3574, 175.132, -18.22689, 58.59]
WAS-22   = [19.83779, 115.2829, -14.89043, 44.70015]
WAS-44   = [19.86429, 115.5316, -15.23168, 45.25018]
MED-11   = [-46.80627, 76.06158, 19.63504, 73.41]
EUR-11I  = [-44.8125, 65.1875, 21.8125, 72.6875]
EUR-11   = [-44.594, 64.9646, 21.98791, 72.58528]
AFR-44I  = [-25.25, 60.75, -46.25, 42.75]
CAS-22   = [10.7899, 140.1774, 18.00188, 69.51006]
NAM-22   = [-169.51, -24.72, 12.96031, 75.31002]
ARC-44I  = [-179.75, 179.75, 48.75, 89.75]
SAM-44   = [-105.7188, -18.71515, -57.68022, 18.49518]
EUR-44I  = [-44.75, 65.25, 21.75, 72.75]
AFR-22   = [-24.53, 59.9502, -47.63018, 43.89017]
EUR-44   = [-44.14069, 64.40398, 22.19937, 72.41994]
AFR-44   = [-24.64001, 60.27998, -45.76, 42.24]
SEA-22   = [88.16034, 148.0006, -16.06006, 27.94011]
ARC-44   = [-180.0, 179.17, 48.56, 90.0]
WAS-44I  = [19.25, 116.25, -15.75, 45.75]
AUS-22   = [86.9056, -151.57, -52.46012, 12.51982]
AUS-44   = [89.24, -157.593, -52.57, 12.2103]
EAS-22   = [48.54336, -175.70, -1.345726, 62.34015]
EUR-22   = [-45.38, 66.1712, 21.88545, 71.8702]
SAM-22   = [-105.55, -17.32, -59.11018, 19.58714]
CAM-22   = [-124.12, -22.60, -19.54996, 34.8301]
CEU-3    = [1.62, 18.28, 44.85, 56.24]
[drs_settings.dialect.cordex-template.special.bbox]
type = "call"
call = 'dialect["cordex"]["domains"].get("{{ domain | upper }}", [0, 360, -90, 90])'

[drs_settings.dialect.cordex-template.special.model]
type = "call"
call = "'{{ driving_model }}-{{ rcm_name }}-{{ rcm_version }}'"

[drs_settings.dialect.cordex-template.special.product]
type = "call"
call = "'{{ domain }}'"

[drs_settings.dialect.cordex-template.special.institute]
type = "call"
call = "'{{ institution }}'"

[drs_settings.dialect.cordex.path_specs]
dir_parts  = [
    "project",
    "product1",
    "domain",
    "institution",
    "driving_model",
    "experiment",
    "ensemble",
    "rcm_name",
    "rcm_version",
    "time_frequency",
    "variable",
    "version"
]
file_parts = [
    "variable",
    "domain",
    "driving_model",
    "experiment",
    "ensemble",
    "rcm_name",
    "rcm_version",
    "time_frequency",
    "time"
]
file_sep = "_"




[obs-swift]
root_path = "/observations"
fs_type = "swift"
drs_format = "obs-swift"
[obs-swift.defaults]
project = "observations"
[obs-swift.storage_options]
os_storage_url = "http://localhost:8081/v1/AUTH_test/test-obs"
[drs_settings.dialect.obs-swift]
inherits_from = "cmip5"

[drs_settings.dialect.obs-swift.path_specs]
dir_parts = [
    "grid_label", "institute", "model", "experiment", "time_frequency",
    "realm", "cmor_table", "ensemble", "version", "variable",
]
file_parts = ["variable", "time_frequency", "model", "experiment", "ensemble", "time"]

[cmip6-swift]
root_path = "http://localhost:8081/v1/AUTH_test/test/model/global/cmip6"
drs_format = "cmip6"
fs_type = "swift"
[cmip6-swift.storage_options]
os_storage_url = "http://localhost:8081/v1/AUTH_test/test"
os_auth_url = "http://localhost:8081/auth/v1.0"
os_password = "testing"
os_project_id = "test"
os_user_id = "tester"


[obs-s3]
root_path = "s3://test/data/obs"
fs_type = "s3"
[obs-s3.defaults]
project = "observations"
product = "grid"
[obs-s3.storage_options]
endpoint_url = "http://localhost:9000"
anon = true

[drs_settings.dialect.obs-s3]
specs_dir = [
    "product", "institute", "model", "experiment", "time_frequency",
    "realm", "cmor_table", "ensemble", "version", "variable",
]
specs_file = ["variable", "time_frequency", "model", "experiment", "ensemble", "time"]

[cmip6-s3]
root_path = "s3://test/data/model/global/cmip6"
drs_format = "cmip6"
fs_type = "s3"
[cmip6-s3.storage_options]
endpoint_url = "http://localhost:9000"
key = "minioadmin"
secret = "minioadmin"


[nextgems-s3]
root_path = "s3://test/data/model/nextgems"
drs_format = "nextgems_cycle3"
fs_type = "s3"
[nextgems-s3.storage_options]
endpoint_url = "http://localhost:9000"
key = "minioadmin"
secret = "minioadmin"
[nextgems-s3.defaults]
project = "nextgems"
simulation_id = "cycle3"


[nextgems-swift]
root_path = "/model/nextgems"
drs_format = "nextgems_cycle3"
fs_type = "swift"
[nextgems-swift.storage_options]
os_storage_url = "http://localhost:8081/v1/AUTH_test/test"
os_auth_url = "http://localhost:8081/auth/v1.0"
os_password = "testing"
os_project_id = "test"
os_user_id = "tester"
[nextgems-swift.defaults]
project = "nextgems"
simulation_id = "cycle3"
