name: Creating pypi release.
run-name: ${{ github.actor }} is preparing the next release

permissions:
  pull-requests: write
  contents: write
  packages: write


"on":
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

jobs:

  pypi:
    name: Build and publish wheels (Linux x86_64)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: PyO3/maturin-action@v1
        with:
          command: build
          args: --release -o dist
          manylinux: auto
          target: x86_64

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          skip-existing: true
          verbose: true
          packages-dir: dist
